<h2> <%= center.name %> </h2>

<ul>
  <li>Tamaño: <%= center.size %></li><br>
  <li>Número de mesas: <%= center.tables %></li><br>
  <li>Dirección: <%= center.address %></li><br>
  <li>Número de teléfono: <%= center.phone %></li><br>
</ul>

  <div id="map"></div>
  <script>
    function initMap() {
      var uluru = { lat: <%= center.latitude %>, lng: <%= center.longitude %> };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEkL-jlLHB19M2VVbD52QgO2VkeMERovI&callback=initMap"></script>

<!-- <div>fotos</div> -->

<p>Si quiere consultar otra sala, pulse <a href="/centers">aquí</a></p>
