<h2>Listado de centros disponibles en la Comunidad de Madrid</h2>

<ul>
  <% center.forEach((center) => { %>
  <li>
    <%= center.name %> <br>
    <%= center.address %> <br>
    <%= center.tables %> tables <br>
    Size: <%= center.size %> <br>
    Latitude: <%= center.latitude %> <br>
    Longitude <%= center.longitude %> <br>
  </li>
  <li><a href="/centers/<%= center._id %>"> Ver detalles </a></li>
  <% })%>
</ul>
