  <div class="filler"></div>



<div class="flex" style="min-height: unset">
  <div class="centered sixty">
    <div class="detail tournament" style="vertical-align:middle">

<h2 class="crea" style="display:inline-block"> <%= center.name %> </h2>
      <div class="centers-descrip">
        <div class="one" style="display:inline-block">Tamaño:
          <%= center.size %>
        </div>
        <div class="one" style="display:inline-block">Número de mesas:
          <%= center.tables %>
        </div>
        <div class="one" style="display:inline-block">
          <%= center.address %>
        </div>
        <div class="one" style="display:inline-block">Número de teléfono:
          <%= center.phone %>
        </div>
      </div>
<div id='map'></div>
      <a href='/tournaments'><button class="btn orange" style="width: unset">Volver</button></a>
      <p class="crea">Si quiere consultar otra sala, pulse <a href='/centers' class="bold">aquí</a></p>
    </div>
  </div>
</div>

  <script>
    function initMap() {
      var uluru = { lat: <%= center.latitude %>, lng: <%= center.longitude %> };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: uluru
      });
      var iconBase = {
          url: 'https://image.flaticon.com/icons/png/128/38/38599.png',
          origin: new google.maps.Point(0, 0),
          scaledSize: new google.maps.Size(30, 30),
        };

      var marker = new google.maps.Marker({
        position: uluru,
        map: map,
        icon: iconBase
      });
    }
  </script>
  <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAEkL-jlLHB19M2VVbD52QgO2VkeMERovI&callback=initMap'></script>

<!-- <div>fotos</div> -->
