  <div class="filler"></div>
  <div id='map'></div>
  <h2> <%= center.name %> </h2>

  <div class="column">
    <div class="one">Tamaño: <%= center.size %></div>
    <div class="one">Número de mesas: <%= center.tables %></div>
    <div class="one">Dirección: <%= center.address %></div>
    <div class="one">Número de teléfono: <%= center.phone %></div>
  </div>

  <script>
    function initMap() {
      var uluru = { lat: <%= center.latitude %>, lng: <%= center.longitude %> };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: uluru
      });
      var iconBase = {
          url: 'https://image.flaticon.com/icons/png/128/38/38599.png',
          origin: new google.maps.Point(0, 0),
          scaledSize: new google.maps.Size(30, 30),
        };

      var marker = new google.maps.Marker({
        position: uluru,
        map: map,
        icon: iconBase
      });
    }
  </script>
  <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAEkL-jlLHB19M2VVbD52QgO2VkeMERovI&callback=initMap'></script>

<!-- <div>fotos</div> -->

<p>Si quiere consultar otra sala, pulse <a href='/centers' class="bold">aquí</a></p>
