<h2>Listado de centros disponibles en la Comunidad de Madrid</h2>
<div id='map'></div>

<script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAEkL-jlLHB19M2VVbD52QgO2VkeMERovI&callback=initMap'></script>

<div class='flex'>
  <% centers.forEach((center) => { %>
  <div class='center'>
    <p><b><%= center.name %></b></p>
    <span><%= center.address %></span><br>
    <span><%= center.tables %> tables</span><br>
    <span>Size: <%= center.size %></span><br>
    <span>Latitude: <span class='lat'><%= center.latitude %></span><br>
    <span>Longitude <span class='lng'><%= center.longitude %></span> <br>
    <a href='/centers/detail/<%= center._id %>'><div id="center-details-button"></div></a>
  </div>
  <% })%>
</div>
