<div class="flex">
  <div class="centered">
    <div class="detail tournament">
      <h2><%= result.name %></h2>
      <b><%= result.level %></b><br><br>
      <%= result.maxParticipants %> players<br><br>
      <b>Participants</b>:
      <div class='participants' style='color: blue;'>

          <% for(let i = 0; i < result.participants.length; i++) { %>
            <div class="players">
              <img src="../../images/user.png" alt=""><b class="part-name"><%= result.participants[i].username %></b>
            </div>
          <% } %>

      </div>
      <%= result.startDate %> <br>
      <%= result.endingDate %> <br>
      <hr>
      Creador del Torneo: <%= result.creator.username %> <br><br>

      <% if(isParticipant){ %>
        <p style='color: red; background-color: white; padding: 10px'>Ya te has dado de alta en este torneo..</p>
      <% } else { %>
        <form action='/tournaments/detail/<%= result._id %>' method='POST'>
          <input type='submit' value='Apuntarme'>
        </form>
      <% } %>

      <br>
      <a href='/tournaments'><button class="btn orange">Volver</button></a>
    </div>
  </div>
</div>
