<h2><%= user.username %></h2>

<%= user.avatar %> <br>
<%= user.level %> <br>
<%= user.orientation %><br>
<%= user.favoriteCenter %><br>
<%= user.tournaments %><br>
<%= user.gamesWon %><br>

<a href="/users">Volver</a>
