<h2><%= user.username %></h2>

<p><b>Nivel: </b><%= user.level %> <br></p>
<p><b>Mano dominante: </b><%= user.orientation %><br></p>
<p><b>Centro favorito: </b><%= user.favoriteCenter %><br></p>
<p><b>Torneos jugados: </b><%= user.tournaments %><br></p>
<p><b>Partidas ganadas: </b><%= user.gamesWon %><br></p>
<p><b>Photo: </b><%= user.photo %> </p><br></p>

<a href="/users">Volver</a>
