<h2><%= result.name %></h2>

<%= result.level %> <br>
<%= result.maxParticipants %> <br>
<%= result.participants %> <br>
<%= result.startDate %> <br>
<%= result.endingDate %> <br>
<%= result.winner %> <br>
Creador: <%= result.creator.username %>

<a href="./tournaments">Volver</a>
