<h2><%= tournament.name %></h2>

<%= tournament.level %> level<br>
<%= tournament.maxParticipants %> players<br>
<%= tournament.participants %> <br>
<%= tournament.startDate %> <br>
<%= tournament.endingDate %> <br>
<%= tournament.winner %> <br>
Creador: <%= tournament.creator.username %>

<a href="/tournaments">Volver</a>
