<h2><%= result.name %></h2>

<b><%= result.level %></b><br><br>
<%= result.maxParticipants %> players<br>
<b>Participants</b>: <%= result.participants %> <br>
<br>
<%= result.startDate %> <br>
<%= result.endingDate %> <br>
<hr>
Creador del Torneo: <%= result.creator.username %> <br><br>
<button>Apuntarme</button>

<a href="/tournaments">Volver</a>
