<h2><%= tournament.name %></h2>

<b><%= tournament.level %></b> level<br>
<%= tournament.maxParticipants %> players<br>
<%= tournament.participants %> <br>
<%= tournament.startDate %> <br>
<%= tournament.endingDate %> <br>
Creador: <%= tournament.creator.username %> <br>
<button>Apuntarme</button>

<a href="/tournaments">Volver</a>
