<h2><%= tournament.name %></h2>

<%= tournament.level %> <br>
<%= tournament.maxParticipants %><br>
<%= tournament.participants %><br>
<%= tournament.startDate %><br>
<%= tournament.endingDate %><br>
<%= tournament.winner %><br>
<%= tournament.creator %><br>

<a href="./tournaments">Volver</a>
